<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@meilisearch/instant-meilisearch/templates/basic_search.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" href="/">
            <span>My Book recommender</span>
        </a>
        <ul class="nav navpills">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/recommend">Recommend</a></li>
            <li class="nav-item"><a class="nav-link">Contact</a></li>
        </ul>
    </nav>

    <div class="wrapper">
        <div id="searchbox" focus></div>
        <div id="hits"></div>
    </div>    
</body>

<script src="https://cdn.jsdelivr.net/npm/@meilisearch/instant-meilisearch/dist/instant-meilisearch.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4"></script>

    {% raw %}
<script>
    const search = instantsearch({
        indexName: "books",
        searchClient: instantMeiliSearch(
            "http://localhost:7700",
            "",
            {
                placeholderSearch: false,
                pirmaryKey: "Title"
            }
        ).searchClient
    });
    search.addWidgets([
        instantsearch.widgets.searchBox({
            container: "#searchbox"
        }),
        instantsearch.widgets.configure({ hitsPerPage: 5 }),
        instantsearch.widgets.hits({
            container: "#hits",
            templates: {
                item: `
                <div class = "hit" style="cursor : pointer" onclick='hello("{{Title}}")'>
                    <div class="hit-name" >
                        {{#helpers.highlight}}{ "attribute": "Title" }{{/helpers.highlight}}
                    </div>
                    <div>
                        {{ Author }}
                    </div>
                </div>
          `
            }
        })
    ]);
    search.start();

    async function hello(title){

        res = await fetch('/recommend_books',{
            method: 'POST',
            headers:{
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({book_title: title}),
        });

        const data = await res.json();
        const hml = data.html;
        const root = document.querySelector('html');
        root.innerHTML = '';
        root.innerHTML = hml;
    }
</script>
{% endraw %}

</html>